nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* Style the navigation bar */
.logo,
.nav-links,
.user-pic {
  flex: 1;
  display: flex;
  align-items: center;
}

.nav-links {
  justify-content: center;
}

.nav-links li {
  list-style: none;
  margin: 0 20px;
}

.nav-links li a {
  text-decoration: none;
  font-size: 18px;
}

/* Style user image */
.user-pic {
  justify-content: flex-end;
}

.user-pic img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}